<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-6 footer-col-1">
			<p>By <a href="https://github.com/angelmunozs/" target="_blank">@angelmunozs</a></p>
		</div>	
		<div class="col-xs-12 col-sm-6 footer-col-2">
			<p>This is a test website</p>
		</div>	
	</div>
</footer>
